<footer>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-sm-12">
                <a class="navbar-brand footer-brand" href="#"><img src="https://lh3.googleusercontent.com/proxy/Jx91TRexJNINTV6E7KrPSq7ZEG-ZQ8othshdMDibtPsF9X2cDRMThVyvzoS285gPFo8qaJI6vuBCijxv7Czsth4haqV-Dt3pUanbW8yy_PdM2nFKdK6GpjQ=s0-d" alt="Inc arquitectura y diseño" class="footer-img d-inline-block align-text-top"> phd Arq & Diseño</a>
                <p>Copyright 2021</p>
            </div>
            <div class="col-lg-6 col-sm-12 contact-icons">
                
                <a href="https://www.instagram.com/joselo85/"><i class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/joselelorenzo/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/joseloftheblock"><i class="fab fa-twitter"></i></a>
                    
            </div>
        </div>
    </div>
</footer>