<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="Inc arquitectura y diseño" width="40" height="34" class="d-inline-block align-text-top"> phd Arq & Diseño</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>              
            </ul>                
          </div>
        </div>
      </nav>
      <div>
          <div class="container">
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2017/01/01/11/19/interior-1944348_960_720.jpg" alt="Fondo header">
            <div class="text-box">
                <h1>Diseñando Espacios</h1>
                <p class="text">para tu vida</p>
            </div>                
          </div>
      </div>          
</header>